* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --blank: #ffffff;
  --light-blue: #edf2ff;
  --primary-blue: #4263eb;
  --hover-blue: #364fc7;
  --dark-blue: #00082f;
}

body {
  text-align: center;
}

#avatar {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 6.5rem;
  margin-top: 3.75rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-family: Roboto;
  font-size: 2rem;
}
p {
  font-family: Roboto Mono;
  font-size: 1.125rem;
  line-height: 150%;
}

#info {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

footer {
  margin-top: 3rem;
  font-family: Roboto;
  font-size: 0.75rem;
}

#links {
  display: grid;
  gap: 1rem;
}

li {
  background-color: var(--primary-blue);
  font-style: normal;

  border-radius: 0.375rem;

  width: 18.75rem;
  height: 3.313rem;

  list-style: none;

  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-inline: auto;
}

a {
  text-decoration: none;
  color: var(--blank);
  font-family: Roboto;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
}

li:hover {
  background-color: var(--hover-blue);
}
